/* .product {
} */
.productSection {
  display: flex;
  background-color: #ebebeb;
  padding: 4% 10%;
  place-items: center;
  text-align: center;
  flex-direction: column;
  gap: 56px;
}
.productIcon {
  background-color: #463f82;
  color: #fff;
  padding: 12px;
  border-radius: 50%;
  width: 78px;
  height: 78px;
}

.productTop h1 {
  /* color: var(--primary); */
  font-size: 30px;
  color: black;
  font-weight: 600;
  margin-bottom: 16px;
  margin-top: 12px;
}
.productTop p {
  font-weight: 500;
  letter-spacing: 0.1px;
  line-height: 20px;
}

/* Product CArds */
.Cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  /* margin: 4rem 5vw; */
  padding: 0;
  list-style-type: none;
}

.Card {
  position: relative;
  display: block;
  height: 100%;
  border-radius: calc(var(--curve) * 1px);
  overflow: hidden;
  text-decoration: none;
}

.CardImage {
  width: 100%;
  height: auto;
}

.CardOverlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  border-radius: calc(var(--curve) * 1px);
  /* background-color: var(--surface-color); */
  transform: translateY(100%);
  transition: 0.2s ease-in-out;
  background-color: #321a74;
}

.Card:hover .CardOverlay {
  transform: translateY(0);
}

.CardHeader {
  position: relative;
  display: flex;
  align-items: center;
  /* gap: 20px; */
  justify-content: space-around;
  padding: 6px;
  margin-bottom: 12px;
  /* border-radius: calc(var(--curve) * 1px) 0 0 0; */
  transform: translateY(-100%);
  transition: 0.2s ease-in-out;
  background-color: #321a74;
}

.CardArc {
  width: 80px;
  height: 80px;
  position: absolute;
  bottom: 100%;
  right: 0;
  z-index: 1;
  fill: #321a74;
}

.CardArc path {
  d: path("M 40 80 c 22 0 40 -22 40 -40 v 40 Z");
}

.Card:hover .CardHeader {
  transform: translateY(0);
}

.CardThumb {
  background-color: #ebebeb;
  flex-shrink: 0;
  width: 42px;
  height: 42px;
  border-radius: 50%;
}

.CardTitle {
  letter-spacing: 0.8px;
  font-size: 15px;
  /* margin: 0 0 0 36px; */
  color: #fbfbfb;
  text-transform: capitalize;
}

.CardStatus {
  font-size: 11px;
  color: #efefef;
}
.CardStatus:hover {
  border-bottom: 1px solid #ebebeb;
}
.CardDescription {
  padding: 0 24px 24px;
  line-height: 1.2;
  margin: 0;
  font-size: 12px;
  color: #efefef;
  /* font-family: "MockFlowFont"; */
  display: -webkit-box;

  overflow: hidden;
  background-color: #321a746f;
}
/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
@media (max-width: 900px) {
  .Cards {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 600px) {
  .Cards {
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
    grid-auto-rows: 1fr;
  }
  .CardHeader {
    justify-content: space-between;
    padding: 10px 18px;
  }
}

/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
@media (max-width: 900px) {
  .productBorderRight::after {
    display: none;
  }
  .column1 {
    display: block;
  }
  /* .product {
    padding: 60px 24px;
  } */
}
