/* Primary Color */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&family=Poppins:ital,wght@0,300;0,400;1,200;1,300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif !important;
  line-height: 1;
  font-weight: 400;
}

:root {
  --primary: #b1832d;
}
.slider {
  position: relative;
  max-width: 800px;
  margin: auto;
  overflow: hidden;
  border: 2px solid #ddd; /* Optional: Add a border */
}

.slides {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slide {
  min-width: 100%;
  box-sizing: border-box;
  transition: opacity 0.5s ease-in-out; /* Add opacity transition for fade effect */
  height: 50vh;
  display: flex;
  justify-content: center;
  /* align-items: center; */
}

.slide img {
  object-fit: fill;
}

/* Styling for navigation arrows */
.slider .prev,
.slider .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  background: rgba(0, 0, 0, 0.3);
}

.slider .next {
  right: 0;
  border-radius: 2px 0 0 2px;
}

/* Add hover effect for better visibility */
.slider .prev:hover,
.slider .next:hover {
  background: rgba(0, 0, 0, 0.7);
}

.closeSilder {
  padding: 5px;
  font-size: 20px;
}

/* Hide navigation arrows on small screens */
@media (max-width: 600px) {
  .slide img {
    width: 80%;
  }
}
/* @media (max-width: 860px) {
  .slide {
    max-height: 40vh;
  }
}
@media (max-width: 688px) {
  .slide {
    max-height: 35vh;
  }
} */
