.formOuter {
  display: grid;
  grid-template-columns: 2fr 3fr;
  padding: 12px 116px;
  margin: 0 0 20px 0;
}
.contacthead {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px 116px;
}
.h1 {
  font-size: 30px;
  margin-top: 22px;
  margin-bottom: 20px;
  font-weight: 600;
}
.contInfo {
  text-transform: capitalize;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  text-align: justify;
}
.formInput {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 16px;
  background-color: #d4d4d4;
  padding: 50px 16px 16px 16px;
}
.textHolder {
  padding: 6px 12px;
  height: 36px;
  width: 280px;
  border: none;
}
.InqInput {
  padding: 6px 12px 54px 12px;
  height: 90px;
  width: 280px;
  border: none;
}

.SubmitBtn {
  padding: 12px 32px;
  margin-left: -161px;
  background-color: #463f82;

  border: none;
  border-radius: 6px;
  font-weight: 600;
  font-size: 16px;
}
.SubmitBtn:hover {
  transition: all 0.3s;
  background-color: #6f6a9e;
  color: #000;
}
.formDetails {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #f1f1f1;
  gap: 30px;
  padding: 6px 32px;
}
.icons {
  color: #463f82;
  width: 78px;
  height: 78px;
}
.contactDetails {
  display: grid;
  grid-template-columns: 2fr 3fr;
  column-gap: 34px;

  line-height: 0.1;
}
.socialIcons {
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
}

.address {
  text-transform: capitalize;
  font-size: 12px;
  line-height: 1.4;
  font-weight: bold;
  word-spacing: 0.2;
  text-align: center;
}
.eMails {
  margin-right: -84px;
  border-left: 2px solid #321a74;
  padding-left: 12px;
}
.contact,
.eMails {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 18px;
}
.cntNum,
.eMail {
  font-size: 12px;
  font-weight: 600;
  text-align: center;
  margin-top: 8px;
}
.cntNum:last-child,
.eMail:last-child {
  margin-top: -1px;
}
.socialPara {
  margin-bottom: 0;
  font-size: 15px;
  margin-left: 4px;
  font-weight: bold;
  word-spacing: 0.2;
  text-align: center;
}
.iconSocials {
  width: 28px;
  color: #321a74;
  height: 28px;
}
.icon {
  width: 28px;
  color: #312a74;
  height: 28px;
}
.loc {
  text-align: center;
}
/* Media Query */
@media (max-width: 1000px) {
  .formInput {
    gap: 12px;
    padding: 40px 8px 8px 8px;
  }
  .textHolder {
    padding: 4px 10px;
    height: 36px;
    width: 248px;
    border: none;
  }
  .InqInput {
    padding: 6px 12px 54px 12px;
    height: 90px;
    width: 248px;
    border: none;
  }
  .SubmitBtn {
    padding: 4px 32px;
    margin-left: -112px;
    border-radius: 6px;
    font-weight: 600;
    font-size: 16px;
  }
  .formDetails {
    gap: 18px;
    padding: 6px 26px;
  }
  .formOuter {
    display: grid;
    grid-template-columns: 40% 60%;
    padding: 8px 86px;
    margin: 0 0 16px 0;
  }
}
@media (max-width: 890px) {
  .formInput {
    gap: 12px;
    padding: 34px 8px 8px 8px;
  }
  .textHolder {
    padding: 4px 10px;
    height: 32px;
    width: 236px;
    border: none;
  }
  .InqInput {
    padding: 4px 8px 48px 8px;
    height: 72px;
    width: 236px;
    border: none;
  }
  .SubmitBtn {
    padding: 6px 28px;
    margin-left: -92px;
    border-radius: 6px;
    font-weight: 600;
    font-size: 14px;
  }
  .formDetails {
    gap: 16px;
    padding: 12px 22px;
  }
  .formOuter {
    display: grid;
    grid-template-columns: 45% 55%;
    padding: 6px 72px;
    margin: 0 0 12px 0;
  }
  .formDetails {
    gap: 18px;
  }
  .icon {
    width: 18px;
    color: #312a74;
    height: 18px;
  }
  .contactDetails {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* width: 350px; */
  }

  .eMails {
    /* Remove margin-right: -68px; */
    text-align: center; /* Align text in the center */
    border: none;
    padding: 0;
    margin: 0;
    border-bottom: 2px solid #321a74;
    margin-bottom: 12px;
    padding-bottom: 6px;
  }

  .cntNum,
  .eMail {
    font-size: 11px;

    margin-top: 6px;
  }
}
@media (max-width: 768px) {
  .formOuter {
    display: block;
    padding: 24px 86px;
  }
  .formOuter input {
    width: 90%;
  }
  .textHolder {
    height: 42px;
  }
  .formOuter .formInput {
    padding: 24px;
  }
  .SubmitBtn {
    margin-inline: auto;
    padding: 12px 32px;
  }
  .contact,
  .eMails {
    gap: 12px;
  }
  .InqInput {
    height: 86px;
    width: 236px;
    border: none;
  }
  .formDetails {
    padding: 32px;
  }
}
@media (max-width: 600px) {
  .contacthead {
    padding: 24px 72px;
  }
  .formOuter {
    display: block;
    padding: 24px 62px;
  }
  .formInput {
    gap: 18px;
  }
}
